@model IEnumerable<FluxoCaixa.Models.FluxoCaixaModels>

@{
    ViewData["Title"] = "Lista de produtos";
}

<h1>Listas de Produtos</h1>

<p>
    <a asp-action="Create">Novo Cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormaPgto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPgto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
